---
---
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700|Playfair+Display:400,700,900');
@import "variables";
@import "base";
@import "navigation";

.logo-small {
  height: 1rem;
  margin-bottom: .7653333325rem;
  width: auto;
	margin-left: 2.2rem;

  .cd {
    fill: $gold-t1;
  }

  .co {
    fill: $black-t2;
  }
}

.logo-link {
  border-bottom: none;
}

@media (min-width: 727px) {
	.logo-small {
		margin-left: 5.8rem;
	}
}

#color-scheme + ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#color-scheme +ul + h4 {
  margin-top: ms(4)
}

#color-scheme + ul li {
	margin: 0;
	padding: 0;
}

#color-scheme + ul li::after {
	content: "";
	display: table;
	clear: both;
}

img {
	max-width: ms(6);
	width: 100%;
	height: auto;
	margin: 1em
}

figure {
  display: inline-block;
  position: relative;
  margin: 1em 0 2em;
  max-width: 24%;
  width: 24%;
}

@import "sections";

.services,
.ethics {
	margin: 0;
}

.ethics ul {
	grid: auto / 1fr;
}

@media (min-width: 900px) {
	.ethics ul {
		grid: auto / 1fr 1fr;
	}
}

.services ul {
	grid: auto / auto;
}

@media (min-width: 540px) {
	.services ul {
		grid: auto / auto auto;
	}
}

@media (min-width: 840px) {
	.services ul {
		grid: auto / auto auto auto auto;
	}
}

.ethics ul,
.services ul {
	padding: 0;
	display: grid;
}

.services > ul > li, .services li > h3, .services li > h4, .ethics li > h3, .ethics li > h4, .ethics ul li p:first-child {
	font-family: $serif;
	font-size: ms(1);
  font-weight: 400;
	margin: 0 0 ms(1);
	letter-spacing: 0.05em;
  text-transform: capitalize;
  color: $white-t4;
}

.services > ul li, .ethics ul li {
	list-style: none;
	margin-bottom: ms(2);
}

.services > ul li {
	padding-right: ms(1);
}

.ethics ul li {
	padding-right: ms(3);
}

.services ul li ul {
	margin-top: ms(1);
	display: block;
	margin-bottom: 0;
}

.services ul li ul li {
	float: none;
	width: 100%;
	font-family: $sans;
	font-size: ms(0);
	margin: 0;
	letter-spacing: 0
}

.color-block {
	display: inline-block;
	height: ms(6);
	width: ms(6);
	box-sizing: border-box;
	padding: 0.5em 0 0 1em;
	text-transform: uppercase;
	font: 900 ms(-1) $mono;
  line-height: ms(1);
	letter-spacing: 0.05em;
	color: $white-t4;
	float: left;
}

.color-block.light {
	color: $black
}

.color-block-variations {
	height: ms(6);
	width: ms(8);
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: ms(-1);
	float: left;
	overflow: hidden;
}

.color-block-variations .color-block {
	width: 50%;
	height: 52%;
	font-size: 0.8em;
	display: block;
}

@import "pull-quotes";

code {
	background: $white-s1;
	padding: 0.5em 1em;
	border-radius: 2px;
}
