---
layout: default
hero-text: Claxon Design Co. is a web design and development agency in Indianapolis, IN. It is owned, managed, and run by Adam Claxon.
hero-id: homepage-hero
hero-header: <img src="/assets/images/logo_light.svg" alt="Claxon Design Co." class="hero-logo">
---

{% include hero.html %}

<div class="section before-top-angle-up" id="introduction">
  <header class="section__header">
    <h2 class="section__headline">Simplicity</h2>
    <p class="section__subhead">From design to implementation, great work is simple work.</p>
  </header>

  <p>Simplicity ensures that everything has purpose, and the final product is exactly what it needs to be. Simple design is clear, direct, and timeless; simple development eschews bloated software and complex interfaces, making managing your content easy, while the system grows and scales with you.</p>
</div>

{% include ethics.html %}

{% include contact.html %}

{% include footer.html %}
