---
layout: home
page-title: Claxon Design Co.
---

<section id="introduction" class="full-aside-right">

  <div aria-hidden="true" class="section-title"><span>Introduction</span></div>

  <div class="hero with-aside">
    <h1>Claxon Design Co. <span class="fancy">of</span> Fort Myers, FL</h1>
    <h2>A Digital Design Agency</h2>
  </div>
  <img srcset="/assets/images/hero.jpg 1x, /assets/images/hero@2x.jpg 2x" class="aside" alt="Photograph of a computer on a desk">
</section>

<section class="dark">

<div aria-hidden="true" class="section-title"><span>Services</span></div>
{% include sections-services.md %}
</section>

<section>
<div aria-hidden="true" class="section-title"><span>Portfolio</span></div>

<h2><span data-aos="blank-out" data-aos-duration="0" data-aos-delay="400">Work</span></h2>

<div class="portfolio-list">
  {% for portfolio in site.portfolio %}
    {% if portfolio.homepage %}
      <a class="portfolio-item-link aos-init aos-animate" target="_blank" href="{{ portfolio.link }}" data-aos="fade-up">
        <article class="portfolio-item" style="--brand-color: #{{ portfolio.brand-color }};">
          <header class="portfolio-item-header">
            <h3>{{ portfolio.title }}</h3>
          </header>
          <img class="portfolio-item-image{% if portfolio.contain %} contain{% endif %}{% if portfolio.type == "Logotype" %} logo{% endif %}" srcset="/assets/images/{{ portfolio.image }}.{{ portfolio.image-extension }} 1x, /assets/images/{{ portfolio.image }}.{{ portfolio.image-extension }} 2x" alt="{{ portfolio.title }} thumbnail">
          <footer class="portfolio-item-footer">
            <p class="intro-type">{{ portfolio.type }}</p>
          </footer>
        </article>
      </a>
    {% endif %}
  {% endfor %}

  {% for lab in site.lab %}
    {% if lab.homepage %}
      <a class="portfolio-item-link aos-init aos-animate" href="/lab/" data-aos="fade-up">
        <article class="portfolio-item" {% if lab.display-color %} style="--brand-color: #{{ lab.display-color }}" {% else %} style="--brand-color: var(--black-t3)" {% endif %}>
          <header class="portfolio-item-header">
            <h3><span data-aos="fade-up" class="aos-init aos-animate">{{ lab.short-title }}</span></h3>
          </header>
          <img class="portfolio-item-image{% if lab.contain %} contain{% endif %}" srcset="/assets/images/lab/{{ lab.image }}.jpg 1x, /assets/images/lab/{{ lab.image }}@2x.jpg 2x" alt="{{ lab.title }} thumbnail">
          <footer class="portfolio-item-footer">
            <p class="intro-type">Lab{% if lab.tags %}, {{ lab.tags | sort | join: ", " }}{% endif %}</p>
          </footer>
        </article>
      </a>
    {% endif %}
  {% endfor %}
</div>

</section>

<section class="red">
  <div aria-hidden="true" class="section-title"><span>Testimonials</span></div>
  <blockquote class="testimonial"><p>It's been fantastic working with Adam; he's fast and talented, with good creative vision, strong communication skills, and a willingness to collaborate that not all designers&nbsp;possess.</p><footer>— <cite>Kristen Proctor | Founder, Rocket Strategy</cite></footer></blockquote>

</section>

<section>
  <div aria-hidden="true" class="section-title"><span>Ethics</span></div>
  {% include sections-ethics.md %}
</section>

<section>
  <div aria-hidden="true" class="section-title"><span>Contact</span></div>
  {% include contactform.html %}
</section>
