---
layout: default
hero-text: Claxon Design Co. is a boutique design and development shop in Indianapolis, IN. It is owned, managed, and run by <a href="http://adamclaxon.com" target="_blank">Adam Claxon.</a>
hero-id: homepage-hero
hero-header: <img src="/assets/images/logo_light.svg/" alt="Claxon Design Co." class="hero-logo">
---

{% include hero.html %}

<div class="section">
  <header class="section__header">
    <h2 class="section__headline">Simplicity.</h2>
    <p class="section__subhead">From design to implementation, great work is often simple work.</p>
  </header>

  <p>Simple doesn’t mean limited or hobbled, simple means that everything has purpose, and the final product is exactly what it needs to be. A complicated backend system is justified only if it simplifies a process or interface; a complex design system is justified in as much as it simplifies the addition of content and future enhancements. Simplicity scales.</p>
</div>

{% include ethics.html %}

{% include footer.html %}
