@import url('https://fonts.googleapis.com/css?family=family=Abril+Fatface|Karla:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900');

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

html {
    font: 400 120%/1.764rem Karla, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    margin: 0;
    color: #505052;
	padding: 4.178rem 0 0!important;
    margin: 0 0 0 !important;
    width: 100%;
}

#wrapper > p {
	margin-left: 2.2rem;
}

@media (min-width: 727px) {
	#wrapper > p {
		margin-left: 5.8rem;
	}
}

#wrapper {
	padding: 0!important;
}

li p {
    margin: .5em 0;
}

p, li {
	-webkit-font-smoothing: antialiased;
    font-size: 0.993rem;
	max-width: 34em;
    line-height: 1.323rem;
}

p {
	margin: 0 0 1.323rem;
}

li {
	margin: 0.4965rem 0 0.4965rem;
}

small {
	font-size: 0.745rem;
	line-height: 1.764rem;
}

h1 {
    font-size: 3.134rem;
    line-height: 3.134rem;
    font-family: "Playfair Display";
	-webkit-font-smoothing: subpixel-antialiased;
    font-weight: 900;
	color: #040408;
    position: relative;
    margin: 0 0 1.323rem;
}

h1 + h2 {
	font-family: "Karla";
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.323rem;
    line-height: 1.764rem;
	letter-spacing: 0.01em;
    color: #bd8853;
	-webkit-font-smoothing: antialiased;
	margin: 0 0 1.323rem;
}

h2 {
    font-size: 1.764rem;
    line-height: 1.764em;
    margin: 0 0 1.323rem;
    font-family: "Playfair Display";
    font-weight: 700;
    color: #3a3a3d;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1 + p,
h2 + p {
	font-size: 1.323rem;
    color: #242427;
    line-height: 1.764rem;
}

p + h2,
ul + h2,
p + h3,
ul + h3 {
	margin-top: 3.134rem;
}

h3 {
    font-size: 1.323em;
    line-height: 1.323rem;
    margin: 0 0 1.764rem;
    font-family: "Karla";
    font-weight: 400;
    color: #3a3a3d;
}

h4 {
    font-size: 0.993rem;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #505052;
    margin: 0 0 1.323rem;
}

h5 {
	font-size: 0.993rem;
    line-height: 1.323rem;
    margin: 0 0 1.323rem;
}

ul {
	padding-left: 1.323em;
	margin-bottom: 1.764rem;
}

body,p,td,div {
    font-family: Karla, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: #a97b4e;
    text-decoration: none;
    border-bottom: 0.07em solid;
    text-shadow: 0 0.09em 0 #fff, 0 0.1em 0 #fff, 0.09em 0.12em 0 #fff, -0.09em 0.12em 0 #fff;
}

#colorscheme + ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#colorscheme + ul li {
	margin: 0;
	padding: 0;
}

#colorscheme + ul li::after {
	content: "";
	display: table;
	clear: both;
}

a:hover {
    color: #e86266;
}

img {
	max-width: 5.61em;
	width: 100%;
	height: auto;
	margin: 1em
}

figure {
    display: inline-block;
    position: relative;
    margin: 1em 0 2em;
    max-width: 24%;
    width: 24%;
}

section {
    margin: 0!important;
    padding: 3.134rem 5% 2.351rem 4.209rem;
    width: 100%;
    position: relative;
}

@media (min-width: 727px) {
	section {
		margin: 0!important;
		padding: 3.134rem 5% 2.351rem 9.896rem!important;    
		width: 100%;
	}
}

.section-title {
	position: absolute;
	clip: rect(0, auto, auto, 0);
	top: 0;
	bottom: 0;
	left: 0;
	width: 2.7rem;
	pointer-events: none;
}

@media (min-width: 727px) {
	.section-title {
		width: 6.4rem;
	}
}

.section-title::before {
	content: ""attr(data-section-title)"";
	display: inline-block;
	transform: rotate(-90deg);
	left: -1.323rem;
	position: fixed;
	width: 10em;
	text-align: center;
	top: 51%;
	color: rgba(0,0,0,.2);
	font: 900 0.745rem/0.745rem "Karla";
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

@media (min-width: 727px) {
	.section-title::before {
		left: 2.369rem;
	}
}

.section-title::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 6.4rem;
	pointer-events: none;
	box-shadow: inset 10px -1.323em 20px 0px #fff;
}

section.dark {
	background-color: #242427;
	color: #f8f5f2;
}

section.dark .section-title::before {
	color: rgba(255,255,255,.2);
}

section.dark .section-title::after {
	box-shadow: inset 10px -1.323em 10px 0px #242427;
}

section.dark a {
	color: #c9a177;
    text-shadow: 0 0.09em 0 #242427, 0 0.1em 0 #242427, 0.09em 0.12em 0 #242427, -0.09em 0.12em 0 #242427;
}

section.dark > h2 {
	color: #fff;
}
section.dark > h3 {
	color: #c6c4c2;
}

section.dark h4 {
	color: #7c7c7d;
}

section.dark > h5 {
	color: #f8f5f2;
}

.services,
.ethics {
	margin: 0;
}

.ethics ul {
	grid: auto / 1fr;
}

@media (min-width: 900px) {
	.ethics ul {
		grid: auto / 1fr 1fr;
	}
}

.services ul {
	grid: auto / auto;
}

@media (min-width: 540px) {
	.services ul {
		grid: auto / auto auto;
	}
}

@media (min-width: 840px) {
	.services ul {
		grid: auto / auto auto auto auto;
	}
}

.ethics ul,
.services ul {
	padding: 0;
	display: grid;
}

.services > ul > li, .ethics ul li p:first-child {
	font-family: "Playfair Display";
	font-size: 1.323rem;
	margin: 0 0 1.323rem;
	letter-spacing: 0.05em;
}

.services > ul li, .ethics ul li {
	list-style: none;
	margin-bottom: 1.764rem;
}

.services > ul li {
	padding-right: 1.323rem;
}

.ethics ul li {
	padding-right: 2.351rem;
}

.services ul li ul {
	margin-top: 1.323rem;
	display: block;
	margin-bottom: 0;
}

.services ul li ul li {
	float: none;
	width: 100%;
	font-family: "Karla";
	font-size: 0.993rem;
	margin: 0;
	letter-spacing: 0
}

.color-block {
	display: inline-block;
	height: 5.57rem;
	width: 5.57rem;
	box-sizing: border-box;
	padding: 0.5em 0 0 1em;
	text-transform: uppercase;
	font: 900 0.745rem/1.323rem "Karla";
	letter-spacing: 0.05em;
	color: #fff;
	float: left;
}

.color-block.light {
	color: #242427
}

.color-block-variations {
	height: 5.57rem;
	width: 9.896rem;
	display: inline-block;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 0.745rem;
	float: left;
	overflow: hidden;
}

.color-block-variations .color-block {
	width: 50%;
	height: 52%;
	font-size: 0.8em;
	display: block;
}

.pull-quote {
	background-color: #242427;
	color: #fff;
	padding: 3.134rem;
	-webkit-font-smoothing: subpixel-antialiased;
	display: inline-block;
	width: auto;
	max-width: 55.522rem;
	margin: 1.323rem 0 3.134rem 0;
}

.pull-quote p {
	font: 1.764rem/2.351rem "Playfair Display";
	margin: 0 0 1.323rem;
}

.pull-quote a {
	text-shadow: none;
	color: #c9a177;
	border: none;
}

.pull-quote footer {
	color: #d1ac86;
	text-align: right;
	font-size: 0.993rem;
}

code {
	background: #f2ede3;
	padding: 0.5em 1em;
	border-radius: 2px;
}
