<form class="brand-questionnaire" action="https://formspree.io/&#097;&#100;&#097;&#109;&#064;&#099;&#108;&#097;&#120;&#111;&#110;&#100;&#101;&#115;&#105;&#103;&#110;&#046;&#099;&#111;" method="POST">
  <h2 class="section__header">Brand Questionnaire</h2>
  <p>Your answers will help to inform the design direction and content of your site or branding project.</p>
  <div>
    <label for="emailaddress">Email Address</label>
    <input id="emailaddress" type="email" aria-label="Your email address" name="_replyto">
  </div>
  <label for="businessdo"><h3>What does your business / product do?</h3>Not a full about page, but a simple—even terse—answer; an elevator pitch.</label>
  <textarea id="businessdo" rows="4" data-rows="4" tabindex="0" aria-label="What does your business / product do? " name="business"></textarea>
  <label for="purpose"><h3>What problem do you solve for your customers?</h3>What is the purpose of your company or product (beyond making money)?</label>
  <textarea id="purpose" rows="4" name="purpose" aria-label="What problem do you solve for your customers?"></textarea>
  <label for="competitors"><h3>Who are your 3 main competitors (direct or indirect)</h3>What do you like about their presence? What do you dislike about their brand identity?</label>
  <textarea id="competitors" rows="4" tabindex="0" aria-label="Who are your 3 main competitors (direct or indirect)" name="competitors"></textarea>
  <label for="setapart"><h3>What about your company sets you apart from your competitors?</h3></label>
  <textarea id="setapart" rows="4" tabindex="0" aria-label="What about your company sets you apart from your competitors?" name="setapart"></textarea>
  <label for="story"><h3>Is there a unique story behind your business?</h3>Customers buy stories; they enjoy understanding the companies they buy from, and connect well with the humanity that a story provides.</label>
  <textarea id="story" rows="4" tabindex="0" aria-label="Is there a unique story behind your business?" name="story"></textarea>
  <label for="words"><h3>Share 5 adjective or words that best describe your company</h3></label>
  <textarea id="words" rows="4" tabindex="0" aria-label="Share 5 adjective or words that best describe your company" name="words"></textarea>
  <label for="personality"><h3>What personality traits would you use to describe your product / company?</h3></label>
  <textarea id="personality" rows="4" tabindex="0" aria-label="What personality traits would you use to describe your product / company?" name="personality"></textarea>
  <label for="audience"><h3>Describe your ideal customer or audience</h3></label>
  <textarea id="audience" rows="4" tabindex="0" aria-label="Describe your ideal customer or audience" name"audience"></textarea>
  <label for="message"><h3>What is the primary message you want to convey to your audience?</h3></label>
  <textarea id="message" rows="4" tabindex="0" aria-label="What is the primary message you want to convey to your audience?" name="message"></textarea>
  <label for="brandguidlines"><h3>Do you have existing brand guidelines?</h3>Such as typefaces, color scheme, and logo requirements.</label>
  <textarea id="brandguidelines" rows="4" tabindex="0" aria-label="Do you have existing Brand Guidelines?" name="brandguidlines"></textarea>
  <input type="submit" value="Send" />
</form>
  <p class="thanks">Thank you! We&rsquo;ll be in touch shortly.</p>
