<script type="text/javascript">var submitted=false;</script>
 <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  function(){myScript}"></iframe>
<form class="brand-questionnaire" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdT2KVhZJQ_s11Ylgqo2ksYIzknWXLn-_-NQeikTIn7QxDkjg/formResponse?embedded=true" method="post" target="hidden_iframe" onsubmit="return formsubmit()">
  <h2 class="section__header">Brand Questionnaire</h2>
  <p>Your answers will help to inform the design direction and content of your site or branding project.</p>
  <div>
    <label for="emailaddress">Email Address</label>
    <input id="emailaddress" type="email" jsname="YPqjbf" autocomplete="email" tabindex="0" aria-label="Your email" name="emailAddress" value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
  </div>
  <label for="businessdo"><h3>What does your business / product do?</h3>Not a full about page, but a simple—even terse—answer; an elevator pitch.</label>
  <textarea id="businessdo" class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" rows="4" data-rows="4" tabindex="0" aria-label="What does your business / product do? " name="entry.1446840725" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
  <label for="purpose"><h3>What problem do you solve for your customers?</h3>What is the purpose of your company or product (beyond making money)?</label>
  <textarea id="purpose" class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" rows="4" data-rows="4" tabindex="0" aria-label="What problem do you solve for your customers?" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" name="entry.1856983611" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
  <label for="competitors"><h3>Who are your 3 main competitors (direct or indirect)</h3>What do you like about their presence? What do you dislike about their brand identity?</label>
  <textarea id="competitors" class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="4" rows="4" tabindex="0" aria-label="Who are your 3 main competitors (direct or indirect)" name="entry.418723310" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
  <label for="setapart"><h3>What about your company sets you apart from your competitors?</h3></label>
  <textarea id="setapart" class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="4" rows="4" tabindex="0" aria-label="What about your company sets you apart from your competitors?" name="entry.1505011564" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
  <label for="story"><h3>Is there a unique story behind your business?</h3>Customers buy stories; they enjoy understanding the companies they buy from, and connect well with the humanity that a story provides.</label>
  <textarea id="story" class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="4" rows="4" tabindex="0" aria-label="Is there a unique story behind your business?" name="entry.1769960266" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
  <label for="words"><h3>Share 5 adjective or words that best describe your company</h3></label>
  <textarea id="words" class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="4" rows="4" tabindex="0" aria-label="Share 5 adjective or words that best describe your company" name="entry.964055946" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
  <label for="personality"><h3>What personality traits would you use to describe your product / company?</h3></label>
  <textarea id="personality" class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="4" rows="4" tabindex="0" aria-label="What personality traits would you use to describe your product / company?" name="entry.1492504582" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
  <label for="audience"><h3>Describe your ideal customer or audience</h3></label>
  <textarea id="audience" class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="4" rows="4" tabindex="0" aria-label="Describe your ideal customer or audience" name="entry.313285966" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
  <label for="message"><h3>What is the primary message you want to convey to your audience?</h3></label>
  <textarea id="message" class="quantumWizTextinputPapertextareaInput exportTextarea" jsname="YPqjbf" data-rows="4" rows="4" tabindex="0" aria-label="What is the primary message you want to convey to your audience?" name="entry.254425868" dir="auto" data-initial-dir="auto" data-initial-value=""></textarea>
  <input type="submit" value="Send" />
</form>
  <p class="thanks">Thank you! We&rsquo;ll be in touch shortly.</p>
