 <form id="contact_form" action="https://formspree.io/adam@claxondesign.co" method="POST">
  <h3>Contact Information:</h3>
  <div>
    <label for="name">Name</label>
    <input name="client-name" type="text" id="name">
  </div>
  <div>
    <label for="company">Company/Organization</label>
    <input name="client-company" type="text" id="company">
  </div>
  <div>
    <label for="email">Email Address</label>
    <input name="_replyto" type="email" id="email">
  </div>
  <div>
    <label for="phone-number">Phone Number</label>
    <input name="client-phone" type="tel" id="phone-number">
  </div>
  <fieldset>
    <legend><h3>Project needs:</h3><span>(select all that apply)</legend>
    <input id="website" type="checkbox" name="project-needs-website" value="Web Design and Development"><label for="website">Website Design &amp; Development</label><br>
    <input id="branding" type="checkbox" name="project-needs-branding" value="Branding"><label for="branding">Branding</label><br>
    <input id="content-strategy" type="checkbox" name="project-needs-content-strategy" value="Content Strategy"><label for="content-strategy">Content Strategy</label><br>
    <input id="optimization" type="checkbox" name="project-needs-optimization" value="Optimization for accessibility and web standards"><label for="optimization">Optimization for Accessibility and Web Standards</label>
  </fieldset>
  <div>
    <label for="deadline">Deadline (in months)</label>
    <input name="deadline" type="text" id="deadline">
  </div>
  <div>
    <label for="budget">Budget (a range is fine)</label>
    <input name="budget" type="text" id="budget">
  </div>
  <label for="project-details"><h3>Project Details:</h3></label>
  <textarea rows="6" id="project-details" name="project-details"></textarea>
  <input type="submit" value="Send" />
  <input type="hidden" name="_next" value="http://claxondesign.co/thanks/" />
</form>

