<div class="section top-angle-up bottom-angle-down" id="ethics-section">
  <header class="section__header">
    <h2 class="section__headline" id="ethics">Ethics &amp; Priorities</h2>
    <p class="section__subhead">Some things are more important<br> than money.</p>
  </header>

  <div class="columns two">

    <section class="columns__section" id="charities">
      <figure role="presentation">
        <svg viewBox="0 0 286 329">
          <use xlink:href="#charities"></use>
        </svg>
      </figure>
      <h3>Charities</h3>

      <p>I support non-profit organizations and charities and offer them reduced rates, including a few pro-bono days a month for design and consulting. If you represent a non-profit or charitable organization, <a href="#contact">contact me</a> for more information.</p>
    </section>

    <section class="columns__section" id="social-responsibility">
      <figure role="presentation">
        <svg viewBox="0 0 286 313">
          <use xlink:href="#social-responsibility"></use>
        </svg>
      </figure>
      <h3>Social Responsibility</h3>
      <p>I support civil rights and will not work with companies or organizations who engage in, promote, or profit from actions or speech that harms or discriminates against marginalized communities or the public at large.</p>

    </section>

    <section class="columns__section" id="honesty">
      <figure role="presentation">
        <svg viewBox="0 0 286 315">
          <use xlink:href="#honesty"></use>
        </svg>
      </figure>
      <h3>Honesty</h3>
      <p>I work to ensure truthfulness in communication and message, and I don’t work with companies whose messaging is dishonest or misleading.</p>
    </section>

    <section class="columns__section" id="vc-funding">
      <figure role="presentation">
        <svg viewBox="0 0 286 286">
          <use xlink:href="#vc-funding"></use>
        </svg>
      </figure>
      <h3>VC Funding</h3>

      <p>I hesitate to work with funded startups. It’s nothing personal, I just think projects go better when it’s your own, hard-earned cash on the&nbsp;line.</p>
    </section>
  </div>

  <p class="inline-cta">Think your project fits these priorities especially well? <a href="#contact">Contact me</a>.</p>

</div>
