<div class="feature-section"{% if page.hero-id %} id="{{ page.hero-id }}"{% endif %}>
  <div class="center-content">
    <header role="banner" class="feature-section__header" itemscope="" itemtype="http://schema.org/Organization">
      <a itemprop="url" href="/">
        <h1><span itemprop="name" class="logo-name"><strong>Claxon Design Co.</strong></span>{% include logo_light.svg %}</h1>
      </a>
    </header>
    <div class="feature-section__content">
      <p>{{ page.hero-text }}</p>
    </div>
  </div>
</div>
