<div class="section before-top-angle-up" id="simplicity">
  <header class="section__header">
    <h2 class="section__headline">Simplicity</h2>
    <p class="section__subhead">From design to implementation,<br> great work is simple work.</p>
  </header>

  <p>Simplicity ensures that everything has purpose, and the final product is exactly what it needs to be. Simple design is clear, direct, and timeless; simple development eschews bloated software and complex interfaces, making managing your content easy, while the system grows and scales with you.</p>
</div>
