<div class="section before-top-angle-up" id="work-section">
  <ul class="shots" aria="hidden" role="presentation">
    <li>
      <ul class="shots-custom">
        <li class="shots--shot--custom" aria="hidden" role="presentation"><img srcset="/assets/images/stackoverflow@1x.jpg 1x, /assets/images/stackoverflow@2x.jpg 2x" src="/assets/images/stackoverflow@1x.jpg"></li>
        <li class="shots--shot--custom" aria="hidden" role="presentation"><img srcset="/assets/images/jitterbit@1x.jpg 1x, /assets/images/jitterbit@2x.jpg 2x" src="/assets/images/jitterbit.jpg"></li>
      </ul>
    </li>
    <li>
      <ul class="shots-container">
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/brock_cagann_site@1x.png 1x, /assets/images/brock_cagann_site@2x.png 2x" src="/assets/images/brock_cagann_site@1x.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/css-iphone@1x.png 1x, /assets/images/css-iphone@2x.png 2x" src="/assets/images/css-iphone.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/ursimian@1x.png 1x, /assets/images/ursimian@2x.png 2x" src="/assets/images/ursimian@1x.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/ursimian_sketch@1x.jpg 1x, /assets/images/ursimian_sketch@2x.jpg 2x" src="/assets/images/ursimian_sketch@1x.jpg">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/simplesyrup@1x.png 1x, /assets/images/simplesyrup@2x.png 2x" src="/assets/images/simplesyrup@1x.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/espresso_machine@1x.png 1x, /assets/images/espresso_machine@2x.png 2x" src="/assets/images/espresso_machine@1x.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/owl@1x.png 1x, /assets/images/owl@2x.png 2x" src="/assets/images/owl@1x.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/nevertheless@1x.png 1x, /assets/images/nevertheless@2x.png 2x" src="/assets/images/nevertheless@1x.png">
        </li>
      </ul>
    </li>
  </ul>
  <header class="section__header">
    <h2 class="section__headline" id="work">Work</h2>
    <p class="section__subhead">Strong designs are built on<br> strong foundations.</p>
  </header>

  <div class="columns three">

    <section class="columns__section">
      <h3>Development</h3>
      <p>While web technologies advance, the simplest values remain paramount: web standards, accessibility, and optimization. These values provide a solid foundation for future growth.</p>
    </section>

    <section class="columns__section">
      <h3>Clients</h3>
      <p>I have had the opportunity to work with clients ranging from local artists and tech startups to large companies, in roles from simple developer to high-level UX design. My goal is to continue this range of clients.</p>
    </section>

    <section class="columns__section">
      <h3>Collaboration</h3>
      <p>Collaboration allows small shops and freelancers to offer a greater range of services to our clients. The strength of small shops is their ability to work together. If you&rsquo;re a local designer, <a href="#contact">contact me</a>.</p>
    </section>

  </div>

  <!-- <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.</p> -->

</div>
