<div class="section before-top-angle-up" id="work-section">
  <ul class="shots" aria="hidden" role="presentation">
    <li>
      <ul class="shots-custom">
        <li class="shots--shot--custom" aria="hidden" role="presentation"><img srcset="/assets/images/stackoverflow@1x.jpg 1x, /assets/images/stackoverflow@2x.jpg 2x" src="/assets/images/stackoverflow@1x.jpg" alt="Preview of Stack Overflow Careers site"></li>
        <li class="shots--shot--custom" aria="hidden" role="presentation"><img srcset="/assets/images/jitterbit@1x.jpg 1x, /assets/images/jitterbit@2x.jpg 2x" src="/assets/images/jitterbit.jpg" alt="Preview of JitterBit website"></li>
      </ul>
    </li>
    <li>
      <ul class="shots-container">
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/brock_cagann_site@1x.png 1x, /assets/images/brock_cagann_site@2x.png 2x" src="/assets/images/brock_cagann_site@1x.png" alt="Preview of brockcagann.com">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/css-iphone@1x.png 1x, /assets/images/css-iphone@2x.png 2x" src="/assets/images/css-iphone.png" alt="Preview of CSS iPhone">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/ursimian@1x.png 1x, /assets/images/ursimian@2x.png 2x" src="/assets/images/ursimian@1x.png" alt="Preview of Ursimian logo">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/ursimian_sketch@1x.jpg 1x, /assets/images/ursimian_sketch@2x.jpg 2x" src="/assets/images/ursimian_sketch@1x.jpg" alt="Preview of Ursimian sketch">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/simplesyrup@1x.png 1x, /assets/images/simplesyrup@2x.png 2x" src="/assets/images/simplesyrup@1x.png" alt="Preview of Simple Syrup typography project">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/espresso_machine@1x.png 1x, /assets/images/espresso_machine@2x.png 2x" src="/assets/images/espresso_machine@1x.png" alt="Preview of Espresso Machine illustration">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/owl@1x.png 1x, /assets/images/owl@2x.png 2x" src="/assets/images/owl@1x.png" alt="Preview of Owl illustration">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img srcset="/assets/images/nevertheless@1x.png 1x, /assets/images/nevertheless@2x.png 2x" src="/assets/images/nevertheless@1x.png" alt="Preview of Nevertheless typography project">
        </li>
      </ul>
    </li>
  </ul>
  <header class="section__header">
    <h2 class="section__headline" id="work">Work</h2>
    <p class="section__subhead">Strong designs are built on<br> strong foundations.</p>
  </header>

  <div class="columns three">

    <section class="columns__section">
      <h3>Research</h3>
      <p>Businesses thrive through understanding their audience and themselves. Research allow us to expand that understanding, making sure the final product represents your values and speaks to your audience.</p>
    </section>

    <section class="columns__section">
      <h3>Goals</h3>
      <p>Well-defined goals allow us to design and iterate confidently, then test and refine our solution, whether you’re looking to expand your audience, refine your brand, or simply increase signups.</p>
    </section>

    <section class="columns__section">
      <h3>Collaboration</h3>
      <p>Collaboration allows small shops and freelancers to offer a greater range of services to our clients. The strength of small shops is their ability to work together. If you&rsquo;re a local designer, <a href="mailto:%61d&#97;&#109;@%63laxond%65si&#103;%6e%2e&#99;%6f?subject=Collaboration%20Inquiry">contact me</a>.</p>
    </section>
  </div>
</div>
