<div class="section before-top-angle-up" id="work-section">
  <ul class="shots" aria="hidden" role="presentation">
    <li>
      <ul class="shots-custom">
        <li class="shots--shot--custom" aria="hidden" role="presentation"><img src="/assets/images/stackoverflow.jpg"></li>
        <li class="shots--shot--custom" aria="hidden" role="presentation"><img src="/assets/images/jitterbit.jpg"></li>
      </ul>
    </li>
    <li>
      <ul class="shots-container">
        <li class="shots--shot" aria="hidden" role="presentation">
          <img src="assets/images/brock_cagann_site.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img src="assets/images/css-iphone.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img src="assets/images/ursimian.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img src="assets/images/ursimian_sketch_1x.jpg">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img src="assets/images/simplesyrup_1x.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img src="assets/images/espresso_machine.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img src="assets/images/owl_1x.png">
        </li>
        <li class="shots--shot" aria="hidden" role="presentation">
          <img src="assets/images/nevertheless.png">
        </li>
      </ul>
    </li>
  </ul>
  <header class="section__header">
    <h2 class="section__headline" id="work">Work</h2>
    <p class="section__subhead">Maecenas faucibus mollis interdum.</p>
  </header>

  <div class="columns three">

    <section class="columns__section">
      <h3>Development</h3>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    </section>

    <section class="columns__section">
      <h3>Clients</h3>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    </section>

    <section class="columns__section">
      <h3>Collaboration</h3>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    </section>

  </div>

  <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.</p>

</div>
