.about-section
  background-color: #fff
  padding-bottom: ms(3)

  .about-section-content
    max-width: $medium-column-max-width
    margin-left: auto
    margin-right: auto
    background-color: #fff

    @include medium
      margin-top: 2.9375rem

  h2
    font-family: $sans
    font-weight: 700
    font-style: italic
    text-transform: none
    font-size: ms(2)
    margin-bottom: ms(0)
    line-height: 1.5em
    color: $brand
    -webkit-font-smoothing: antialiased

  a
    border: none
    color: $brand

    &:hover
      color: $text

  img.profile-image
    height: auto
    width: ms(11)
    float: left
    margin-right: 1em
    margin-bottom: 1em

    @include medium
      margin-left: -13%

  & + .section.cta
    background: $text
    color: $brand
    margin-top: ms(4)

.writing
  list-style: none
  line-height: 1.5em

  li
    font-size: ms(0)
    a
      font-size: ms(1)
