.columns
  margin: 0

@media (min-width: 900px)
  .columns.columns-2
    grid: auto / 1fr 1fr
    grid-column-gap: ms(3)

.columns.columns-4
  grid: auto / auto

@media (min-width: 540px)
  .columns.columns-4
    grid: auto / auto auto
    grid-column-gap: ms(3)

@media (min-width: 840px)
  .columns.columns-4
    grid: auto / auto auto auto auto
    grid-column-gap: ms(1)

.columns
  padding: 0
  display: grid

.with-aside
  grid-column: 1 / 3

.aside
  grid-column: 3 / 3

.columns li > h3, .columns li > h4, .columns li p:first-child
  font-family: $serif
  font-size: ms(1)
  font-weight: 400
  margin: 0 0 ms(1)
  letter-spacing: 0.05em
  text-transform: capitalize
  -webkit-font-smoothing: subpixel-antialiased
  color: inherit

section.dark .columns > li, section.dark .columns li > h3, section.dark .columns li > h4, section.dark section.dark .columns li p:first-child
  -webkit-font-smoothing: antialiased

.columns > li
  list-style: none
  margin-bottom: ms(2)
  color: inherit

.columns.columns-4 li ul
  margin-top: ms(1)
  display: block
  margin-bottom: 0
  list-style: none
  padding: 0

.columns.columns-4 li ul li
  float: none
  width: 100%
  font-family: $sans
  font-size: ms(0)
  margin: 0
  letter-spacing: 0
  -webkit-font-smoothing: subpixel-antialiased

section.dark .columns.columns-4 li ul li
  -webkit-font-smoothing: antialiased
