.columns
  margin: 0

@media (min-width: 900px)
  .columns.columns-2
    grid: auto / 1fr 1fr
    grid-column-gap: ms(3)

.columns.columns-4
  grid: auto / auto

@media (min-width: 540px)
  .columns.columns-4
    grid: auto / auto auto
    grid-column-gap: ms(3)

@media (min-width: 840px)
  .columns.columns-4
    grid: auto / auto auto auto auto
    grid-column-gap: ms(1)

.columns
  padding: 0
  display: grid
  align-items: center

.with-aside
  grid-column: 1 / 2

.aside
  grid-column: 2 / 2
  width: 100%

  img
    object-fit: cover

img.aside
  object-fit: cover
  height: 100vh

@media (min-width: 727px)
  img.aside
    margin-top: -(ms(6))
    margin-bottom: -(ms(5))
    margin-right: -(ms(4))
    width: calc(100% + 3.1383703672rem)

.columns li h3,
.columns li h4,
.columns li p:first-child
  font-family: $serif
  font-size: ms(1)
  font-weight: 400
  margin: 0 0 ms(1)
  letter-spacing: 0.04em
  text-transform: capitalize
  -webkit-font-smoothing: subpixel-antialiased
  color: inherit

.columns > li
  list-style: none
  margin-bottom: ms(2)
  color: inherit

.columns.columns-4 li ul
  margin-top: ms(1)
  display: block
  margin-bottom: 0
  list-style: none
  padding: 0

.columns.columns-4 li ul li
  float: none
  width: 100%
  font-family: $sans
  font-size: ms(0)
  margin: 0
  letter-spacing: 0
  -webkit-font-smoothing: subpixel-antialiased


.columns li h3,
.columns li h4,
.columns li p:first-child,
section.dark .columns.columns-4 li ul li
  -webkit-font-smoothing: antialiased
