.section.cta
  background: #FFF
  color: $text
  padding: 0 5% ms(4)
  text-align: center
  position: relative
  z-index: 2

  p
    text-align: center

  @include small
    padding: 0 ms(3) ms(3)

  @include medium
    padding: 0 ms(3) ms(4)

  .section__subhead
    font-size: ms(3)
    margin-bottom: ms(-4)
    color: $brand
    font-style: italic
    text-transform: initial
    font-weight: 300
    letter-spacing: initial
    margin-top: -(ms(5))
    padding-top: ms(5)

    @include small
      font-size: ms(4)
      margin-bottom: ms(-2)

    @include medium
      font-size: ms(5)
      margin-bottom: ms(0)
      margin-top: -(ms(7))
      padding-top: ms(7)

  a
    color: $brand

    &:hover
      color: $brand
