.section.cta
  background: $text
  color: #FFF
  -webkit-clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0)
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0)
  padding: ms(8) 5% ms(4)
  margin-top: -(ms(4))
  text-align: center
  position: relative

  @include small
    padding: ms(8) ms(3) ms(4)

  @include medium
    padding: ms(8) ms(3) ms(4)
    margin-top: -(ms(7))

  &::before
    content: ""
    top: -84.3%
    position: absolute
    height: 100%
    left: 0
    right: 0
    bottom: 0
    z-index: 0
    background: $brand
    -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0)
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0)
    pointer-events: none

  .section__subhead
    font-size: ms(3)
    margin-bottom: ms(-4)
    color: $brand

    @include small
      font-size: ms(4)
      margin-bottom: ms(-2)

    @include medium
      font-size: ms(5)
      margin-bottom: ms(0)

  a
    color: #FFF

    &:hover
      color: $brand

  & + footer[role=contentinfo]::before
    background-color: $accent
