#charities,
#social-responsibility,
#honesty,
#vc-funding

  figure
    margin: 0 auto ms(2)
    width: 60%
    max-width: ms(11)

  svg
    max-width: 100%

    g
      stroke-width: 6

  h3
    text-align: center

  @include small

    figure
      float: left
      clear: left
      margin-right: ms(1)
      text-align: left
      width: ms(9)
      max-width: ms(9)

    svg
      margin-bottom: 0

      g
        stroke-width: 5

    p,
    h3
      overflow: hidden

    h3
      text-align: left

#vc-funding

  svg
    max-width: 90%
    margin-left: 5%

    @include big
      margin-top: 1.0625rem

#social-responsibility

  svg
    max-width: 85%
    margin-left: 7.5%

    @include big
      margin-top: 0.618rem
