footer[role="contentinfo"]
  padding: ms(2) 5% ms(2)
  background-color: $text
  color: #fff
  position: relative
  margin-top: -1px

  @include small
    padding: ms(3) ms(3) ms(3)

  @include medium
    padding: ms(3) ms(5) ms(3)

//  &::before
    content: ""
    background-color: $background
    height: ms(3)
    position: absolute
    display: block
    top: -1px
    left: 0
    right: 0
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 1%, 0 100%, 0 0)
    clip-path: polygon(100% 0, 100% 100%, 50% 1%, 0 100%, 0 0)

//    @include medium
      height: ms(5)

.footer

  &__content
    display: block
    margin: 0 auto
    max-width: 46.75rem
    font-size: ms(0)
    text-align: center

    a
      color: $brand
      border-color: $brand
