footer[role="contentinfo"]
  padding: ms(-1) 5% ms(-1)
  background-color: $text
  color: #fff
  position: relative
  margin-top: -1px
  border-bottom: 0.125rem solid $brand
  z-index: 2

  @include small
    padding: ms(-1) ms(3) ms(-1)

  @include medium
    padding: ms(-1) ms(5) ms(-1)

  @include iphone
    background-attachment: initial

  @include iphoneplus
    background-attachment: initial

  @include ipad
    background-attachment: initial

.footer

  &__content,
  &__info
    display: block
    margin: 0 auto
    max-width: 64.87317rem
    font-size: ms(1)
    text-align: center
    clear: both

    p
      text-align: center

      &.legal
        display: inline-block
        width: 100%

        @include medium
          width: 50%
          vertical-align: middle

    a
      color: $brand
      border-color: $brand

    .badges
      vertical-align: middle
      display: inline-block
      width: 100%
      padding-top: ms(-1)

      @include medium
        width: 25%
        float: right
        padding-top: 0

      .badge
        max-height: ms(3)
        max-width: ms(9)
        vertical-align: middle
        display: inline
        opacity: .75

        @include medium
          margin-top: -3px
          float: right
