.hero-logo
  width: 90%
  max-width: 21.875rem
  height: auto
  margin: 0 auto

.feature-section#homepage-hero
  background-image: url(/assets/images/hero_image.jpg)
  background-position: top left
  background-color: #45444A

  @include small
    background-position: top right

  @include medium
    background-position: top center

  .feature-section__header,
  .feature-section__content
    max-width: $medium-column-max-width
    margin-right: auto
    margin-left: auto

  &::before
    content: ""
    bottom: -86.5%
    position: absolute
    height: 100%
    left: 0
    right: 0
    z-index: 0
    background: $brand
    -webkit-clip-path: polygon(50% 13%, 100% 0, 100% 100%, 0 100%, 0 0)
    clip-path: polygon(50% 13%, 100% 0, 100% 100%, 0 100%, 0 0)
    pointer-events: none

#ethics
  background: #fff
  padding: ms(7) 5% ms(9)
  -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 5%)
  clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 5%)

  @include extra-small
    padding: ms(7) 5% ms(12)

  @include small
    padding: ms(7) ms(5) ms(9)

  @include medium
    padding: ms(9) ms(5) ms(10)
    -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%)
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%)
    font-size: ms(0)
