#simplicity-section
  padding-top: 3.625rem

  @inlude small
    padding-top: 5.69531rem

  @include small
    .section__subhead
      white-space: nowrap

    br
      display: initial

#ethics-section
  background: #fff
  padding-top: ms(2)

  @include medium
    padding-top: ms(1)
