.hero-logo
  width: 90%
  max-width: 21.875rem
  height: auto
  margin: 0 auto

.feature-section#homepage-hero
  background-image: url(/assets/images/temp_hero.jpg)
  background-position: top left
  background-color: #333236

  @include small
    background-position: top right

  @include medium
    background-position: top center

  .feature-section__header,
  .feature-section__content
    max-width: $medium-column-max-width
    margin-right: auto
    margin-left: auto

  &::after
    content: ""
    position: absolute
    height: ms(8)
    bottom: 0
    left: 0
    right: 0
    z-index: 2
    background: $brand
    -webkit-clip-path: polygon(50% 97%, 100% 0, 100% 3%, 50% 100%, 0 3%, 0 0)
    clip-path: polygon(50% 97%, 100% 0, 100% 3%, 50% 100%, 0 3%, 0 0)
    pointer-events: none

#ethics
  background: #fff
  padding-top: ms(2)

  .section__headline
    font-family: 'Fjalla One'
    font-size: ms(4)
    line-height: 1.1em
    text-transform: uppercase
    letter-spacing: 0.03em
    -webkit-font-smoothing: subpixel-antialiased
    // color: $brand

    @include medium
      font-size: ms(6)
  
  @include medium
    padding-top: ms(1)
