$sans: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, "Lucida Grande", sans-serif
$condensed: "Fjalla One", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, "Lucida Grande", sans-serif
$font-size:          ms(1)
$font-weight:        300
$font-weight-retina: 300
$line-height:        1.5

$medium-column-max-width: ms(18)
$large-three-column-width: ms(20)

$text:               #333338
$background:         #F8F5F2
$brand:              #BF8A49 //#d9a25c
$brand-light:        lighten($brand, 10%)
$brand-on-white:     #B57C3D
$accent:             #E0644E
$accent-on-white:    darken($accent, 1%)
$light:              #6b6b73

$grey-color:         #828282
$grey-color-light:   lighten($grey-color, 40%)
$grey-color-dark:    darken($grey-color, 25%)

@function tint($color, $percentage)
  @return mix(white, $color, $percentage)

@function shade($color, $percentage)
  @return mix(black, $color, $percentage)

@mixin retina
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    @content

@mixin extra-small
  @media (min-width: 375px)
    @content

@mixin small
  @media (min-width: 660px)
    @content

@mixin medium
  @media (min-width: 770px)
    @content

@mixin big
  @media (min-width: 1024px)
    @content

@mixin large
  @media (min-width: 1160px)
    @content

@mixin yuge
  @media (min-width: 1860px)
    @content

@mixin iphone
  @media only screen and (min-device-width : 375px) and (max-device-width : 667px)
    @content

@mixin iphoneplus
  @media only screen and (min-device-width : 414px) and (max-device-width : 736px)
    @content

@mixin ipad
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2)
    @content
