.menu-button
  background: transparent
  border: none
  color: #333338
  font-size: 1.125rem
  font-family: "Lato","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,"Lucida Grande",sans-serif
  text-transform: uppercase
  width: 1.375rem
  height: 1.375rem
  position: fixed
  top: 1.3rem
  left: 2.5%
  z-index: 110
  text-align: center
  margin-top: 0
  padding: 0
  transform: rotate(0deg)
  cursor: pointer
  transition: transform 300ms ease-in

  @include extra-small
    top: 1.3rem

  @include small
    left: 2.0625rem
    top: 1.5rem

  @include medium
    display: none
    visibility: hidden

  svg
    path
      transition: fill 175ms ease-in
      fill: $brand

  &:hover
    svg
      path
        fill: $brand-on-white

  &.active
    transform: rotate(90deg)

    svg
      path
        fill: $text

  &:hover
    svg
      path
        fill: $brand

nav[role="navigation"]
  position: fixed
  top: -50%
  left: 0
  right: 0
  width: auto
  background: #FFF
  color: #BF8A49
  z-index: 100
  font-size: ms(-1)
  padding: ms(1) ms(0) ms(2) ms(6)
  opacity: 0
  box-shadow: 0 0 2px rgba(191, 138, 73, 0.2)
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out, background 500ms ease-in-out

  @include medium
    top: 0
    opacity: .97
    padding: 0 ms(-3) 0
    font-size: ms(-3)

  &.open
    top: 0
    opacity: 0.95

  .navigation-list
    list-style: none

  .navigation-list-item
    display: block
    
    @include medium
      display: inline
      float: left

    &.email-item

      @include medium
        float: right

  a,
  a.navigation-list-item-link
    color: $brand-on-white
    text-decoration: none
    border: none
    font-weight: 400
    letter-spacing: .1em
    font-family: "Lato","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,"Lucida Grande",sans-serif
    text-transform: uppercase
    -webkit-font-smoothing: subpixel-antialiased
    padding: .91667rem .75rem 0
    display: inline-block
    white-space: nowrap

    @include medium
      padding: .91667rem .75rem

    &.active
      color: $text

    &:hover
      color: $accent

    &.homepage-link
      padding: .572925rem .75rem

    .logo-small
      max-height: 1.60416rem
      max-width: 4rem

  @include medium
    &.navigation-dark
      background-color: #333338

      a.active,
      a.navigation-list-item-link.active
        color: #fff

      #co
        fill: #FFF

.co
  fill: $text
  transition: fill 500ms ease-in-out

.navigation-dark .co
  fill: #ffffff
