nav[role="navigation"]
  width: auto
  font-size: ms(0)
  line-height: ms(2)
  padding: 0rem 1rem .4rem 1.25rem

  button#toggle
    background: none
    border: 0
    color: $gold
    -webkit-appearance: button
    -webkit-user-select: none
    cursor: pointer
    display: block
    font-family: $sans
    font-size: inherit
    text-transform: uppercase
    margin: 0 0 ms(-3)
    padding: 0
    line-height: ms(-1)
    transition: all 250ms ease
    text-align: left
    width: 100%
    min-height: 40px

    & .menu-icon
      height: ms(-1)
      width: auto
      transition: fill 350ms ease

      path
        transition: transform 350ms ease, opacity 200ms ease

    &:hover
      color: $red

      & .menu-icon
        path
          fill: var(--red)

  #toggle[aria-expanded=true]
    & .menu-icon
      path:nth-of-type(1)
        transform: rotate(35deg)
        transform-origin: top left

      path:nth-of-type(2)
        opacity: 0
        transition: opacity 450ms ease

      path:nth-of-type(3)
        transform: rotate(-35deg)
        transform-origin: bottom left

  ul
    list-style: none
    display: block
    margin: 0 0 ms(0)
    padding: 0

    &.hidden
      overflow: hidden
      opacity: 0
      pointer-events: none

    li
      margin: 0
      font-size: ms(0)
      line-height: ms(3)
      display: block

      a
        text-shadow: none

.js
  #menu
    display: none
