.section
  padding: ms(5) 5%
  background-color: $background

  @include small
    padding: ms(5)

  & + &
    padding-top: 0

  &__header
    text-align: center
    max-width: $medium-column-max-width
    margin: 0 auto

  &__headline

    & + .section__subhead
      margin-top: -(ms(0))!important

  &__subhead
    font-family: $sans
    font-style: italic
    font-size: ms(1)
    font-weight: 300
    display: block
    margin: 0 auto ms(3)

    @include retina
      font-weight: 400

  p
    display: block
    margin: 0 auto ms(3)

  p,
  h3,
  h4
    max-width: $medium-column-max-width
    margin-left: auto
    margin-right: auto

  .columns

    @include medium
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      align-items: baseline
      align-content: stretch
      max-width: $medium-column-max-width
      margin-left: auto
      margin-right: auto

      .columns__section
        width: 50%
        padding-right: ms(1)

        &:nth-of-type(even)
          padding-right: 0
          padding-left: ms(1)

      p
        font-size: ms(0)
        text-align: justify
        hyphens: auto

    @include big
      max-width: ms(19)

  .inline-cta
    text-align: center
    font-size: ms(1)
    font-style: italic
    margin-top: ms(3)

.feature-section
  color: #fff
  position: relative
  overflow: hidden
  height: auto
  background-size: cover
  background-position: 0
  background-repeat: no-repeat
  background-color: $background
  padding: ms(3) 5% ms(8)

  @include small
    padding: ms(3) ms(3) ms(8)

  @include medium
    padding: ms(5) ms(5) ms(8)

  @include large
    background-size: contain

  &::before
    content: ""
    position: absolute
    height: ms(8)
    bottom: -0.05%
    left: 0
    right: 0
    z-index: 1
    background: $background
    -webkit-clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0)
    clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0)
    pointer-events: none

  &__header
    margin: 0 auto ms(3)

  &__content
    width: 100%
    max-width: 30em
    margin-bottom: ms(1)
    text-align: center

  &__image
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%

  a
    color: $brand

    &:hover
      color: tint($brand, 100%)

  @include medium
    & + .section
      padding-top: ms(3)
