section
  margin: 0
  padding: ms(4) 5% ms(3) ms(5)
  width: 100%
  position: relative

@media (min-width: 727px)
  section
    margin: 0
    padding: ms(4) 5% ms(3) ms(8)
    width: 100%

.section-title
  position: absolute
  clip: rect(0, auto, auto, 0)
  top: 0
  bottom: 0
  left: 0
  width: 2.7rem
  pointer-events: none

@media (min-width: 727px)
  .section-title
    width: 6.4rem

.section-title::before
  content: ''attr(data-section-title)''
  display: inline-block
  transform: rotate(-90deg)
  left: -(ms(1))
  position: fixed
  width: 10em
  text-align: center
  top: 49vh
  color: rgba(0,0,0,.2)
  font: 900 ms(-1) $mono
  line-height: ms(-1)
  text-transform: uppercase
  letter-spacing: .3em

@media (min-width: 727px)
  .section-title::before
    left: 2.369rem

.section-title::after
  content: ''
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 6.4rem
  pointer-events: none
  box-shadow: inset 10px -1.323rem 20px 0 $white-t4, inset 10px 1.323rem 20px 0 $white-t4

section.light
  background-color: $white-t1

section.light .section-title::after
  box-shadow: inset 10px -1.323rem 10px 0 $white-t1, inset 10px 1.323rem 10px 0 $white-t1

section.light a
  text-shadow: 0 .09em 0 $white-t1, 0 .1em 0 $white-t1, .09em .12em 0 $white-t1, -.09em .12em 0 $white-t1

section.dark
  background-color: $black
  color: $white

section.dark .section-title::before
  color: rgba(255,255,255,.2)

section.dark .section-title::after
  box-shadow: inset 10px -1.323rem 10px 0 $black, inset 10px 1.323rem 10px 0 $black

section.dark a
  color: $gold-t2
  text-shadow: 0 .09em 0 $black, 0 .1em 0 $black, .09em .12em 0 $black, -.09em .12em 0 $black

  &:hover
    color: $red-t1

section.dark h1
  color: $white

section.dark h2
  color: $white-t4
  -webkit-font-smoothing: antialiased

section.dark h1 + h2
  color: $white-s4

section.dark h3
  color: $white-s2

section.dark h4
  color: $black-t4

section.dark h5
  color: $white

section.has-background
  .section-title::after
    box-shadow: none

  a
    color: $gold-s1
    text-shadow: none

    &:hover
      color: $red-s1
