.section#work
  color: #fff
  background-color: $text

  .section__headline
    color: $background

  figure
    margin: 0 auto ms(2)
    max-width: ms(11)

  svg
    max-width: 100%

  @include small

    figure
      width: ms(9)
      max-width: ms(9)

    svg
      margin-bottom: 0
